language: node_js

node_js:
- '6'
- '4'

env:
  - CXX=g++-4.8
  
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      
sudo: required
      
cache:
  directories:
    - node_modules
    
install:
- npm i -g npm@latest
- npm install